{% extends "layout.html" %}

{% block content %}

  <table>
        <tr>
            <th rowspan ="2">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          </th>
            <td>
              <a  href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username.capitalize() }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y at %H:%M') }}</small>
             </td>
             </tr>
             
             
              <tr>
              <td>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            
            <p> {{ post.content }}</p>
            </td>
           </tr>
          
      
   
    
{% endblock content %}