<!DOCTYPE html>
<html lang='en'>
<head>
{% block scripts %}
    <script>
        // ...
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });

        {% endif %}

           
            
    </script>
  
{% endblock %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Bootstrap 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
   -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

       
        <title>Highway Corp.</title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/boostrap.min.css')}}">
     <link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
        <header class="site-header">
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-5" href="{{url_for('main.index')}}">
          <image src="{{url_for('static',filename='favicon.png')}}">
          </a>
         
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
               <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
              </li>
              
              
              {% if current_user.is_authenticated %}
               <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('main.index') }}">The Wall</a>
              </li>
               
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Updates
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                      <a class="dropdown-item" href="{{ url_for('admin.future') }}">Futures</a>
                      <a class="dropdown-item" href="{{ url_for('admin.add_month') }}">Month</a>
                      <a class="dropdown-item" href="{{ url_for('admin.instrument') }}">Instrument</a>
                      <div class="dropdown-divider"></div>
                      
                      <a class="dropdown-item" href="{{ url_for('admin.opt_calc') }}">Option Calculator</a>
                    </div>
              </li>
               <li class="nav-item">
              <a class="nav-item nav-link"href="{{ url_for('main.explore') }}">Explore</a>
              </li>
               <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
              </li>
              <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('archives.list_files') }}">Storage</a>
              </li>
              <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('archives.upload') }}">Upload</a>
              </li>
            </ul>
              
              
              {% endif %}
          
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <li>
                        <a class="nav-item nav-link" href="{{ url_for('main.messages') }}">
                        <img src="https://img.icons8.com/material-rounded/30/000000/new-post.png">
                            
                            {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge"
                                  style="visibility: {% if new_messages %}visible
                                                     {% else %}hidden {% endif %};">
                                {{ new_messages }}
                            </span>
                        </a>
                    </li>
                 
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">
                
                <img src="https://img.icons8.com/material/32/000000/gender-neutral-user.png">
               
                </a>
                 <!-- Navbar Right Side <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>-->
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">
                 <img src="https://img.icons8.com/office/30/000000/shutdown.png">
                </a>
                
              {% else %}   
                 
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
  
          
       <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
         {% block content %}  
         
         {% endblock %}
        </div>



 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
</body>
</html>