 {% extends 'layout.html' %}

{% block content%}
<style>
body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: black; }
h1, h2          { color: black; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: 2px;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:right;
  align: right;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}


th {
    background-color: #add8e6;
    color: white;
}



</style>
<div class="container">
        <h2 class="container">
            Data View first 5 rows of {{filename.split('.')[0]}}
            <br>
            <br>
            
        </h2>

      
        <table class="table table-hover table-sm" style="font-size: medium;">
        
          <tr>
         
          {% for header in headers %}
            <th>{{ header }} </th>
            {% endfor %}

          </tr>
       
        {% for entry in data %}

          <tr>
             {% for header in headers %}
           <td>{{ entry[header]}}</td>
            {% endfor %}
        {% else %}
            <td colspan="5">No data found</td>
          </tr>
        {% endfor %}
        </table>
    </div>
 <div>
{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
 </div>
 

 {% endblock content %}

